

#encourage{
    position: relative;
    margin : 10% 0;
    width : 100%;
    height : 55vh;
}
#encourage .encourage-text{
    display: inline-block;
    padding : 2%;
    text-transform: uppercase;
    color : #fff;
    width : 40%;
    opacity: 0;
    overflow-wrap: break-word;
}
#encourage .encourage-text h1{
    margin-bottom : 40px;
    color : var(--primary)
}
#encourage .encourage-text p{
    color : var(--primary2)
}
#encourage .img-encourage{
    display: inline-block;
    position: relative;
    top : 20%;
    right :-20%;
    width : 30%;
    height : 120%;
    z-index: -1;
}
#encourage .img-encourage div{
    position: absolute;
    width: 70%;
    height : 100%;
    background-position: center;
    background-size: cover;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    cursor: pointer;
    overflow: hidden;
}
.img-en1{
    background-image : url("./Environnement.webp");
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotateZ(-20deg) translate(-100px, 0);
        -ms-transform: rotate(-20deg) translate(-100px, 0);
            transform: rotateZ(-20deg) translate(-100px, 0);
}
.img-en2{
    background-image : url("./zoo.jfif");
    z-index: 2;
}
.img-en3{
    background-image : url("./zoo2.jfif");
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: rotateZ(20deg) translate(100px, 0);
        -ms-transform: rotate(20deg) translate(100px, 0);
            transform: rotateZ(20deg) translate(100px, 0);
}
#encourage .img-encourage div div{
    position: absolute;
    color : rgb(0, 0, 0);
    text-transform: uppercase;
    overflow-wrap: break-word;
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

}
#encourage .img-encourage div:active{
    -webkit-transform: rotateZ(0) translate(0, 0);
        -ms-transform: rotate(0) translate(0, 0);
            transform: rotateZ(0) translate(0, 0);
    z-index: 3;
}
#encourage .img-encourage div:hover div, #encourage .img-encourage div:active div{
    opacity: 1;
}
@-webkit-keyframes monter{
    from{-webkit-transform: translateY(50px);transform: translateY(50px);opacity :0};to{-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}
}
@keyframes monter{
    from{-webkit-transform: translateY(50px);transform: translateY(50px);opacity :0};to{-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}
}

@media (max-width : 900px){
    #encourage .encourage-text{
        display: block;
        width: 100%;
    }
    #encourage .img-encourage{
        display: block;
        width : 50%;
        height : 90%;
        right : 0;
        -webkit-transform: translateX(250px);
            -ms-transform: translateX(250px);
                transform: translateX(250px);
    }
}
@media (max-width : 500px){
    #encourage .img-encourage{
        display: none;
    }
    #encourage .encourage-text{
        background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.2))),  url("./Environnement.webp");
        background: -o-linear-gradient(left, rgba(0,0,0,.6), rgba(0,0,0,.2)),  url("./Environnement.webp");
        background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,.2)),  url("./Environnement.webp");
        background-position: center top;
        background-size: cover;
    }
}